@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color:#F2F2F2;
}


.cool-link {
  display:flex;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
}

.cool-link::after {
  content: '';
  display: flex;
  width: 0;
  height: 2px;
  background: #F24949;
  transition: width .3s;
}

.cool-link:hover::after {
  width: 100%;
  color: #F24949;
  transition: width .3s;
}